@model IEnumerable<USPYCA.Models.Solicitud>

@{
    ViewBag.Title = "ListadoVacunacion";
}

<h2>ListadoVacunacion</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Folio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Revisado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentarios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tramite_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Folio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Revisado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentarios)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tramite_id)
        </td>
        <td>
            
            @Html.ActionLink("Detalles", "DetallesVac", new { id=item.Id }) |
            
        </td>
    </tr>
}

</table>
